<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/assets/blue-circle.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
</head>
<body>
    <header class="header">
        <h1 class="title">Album</h1>
        <a id="main-anchor" href="/displays/camera">Go to Camera</a>
        <a href="https://www.instagram.com/reels/DHSckc8xcKa/">Go to Peels</a>
    </header>
    <div class="main-content"></div>

    <script type="module" src="/assets/js/albumJs.js"></script>
</body>
</html>