<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/assets/blue-circle.png"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/blue-circle.png"/>
    <link rel="stylesheet" href="/styles/style2.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>justIngram</title>
</head>
<body>
    <header class="header">
        <h1 class="title">Album <span id="user-greeting"></span></h1>

        <div class="buttons">
            <a id="main-anchor" href="/display/camera">Go to Camera</a>
            <a id="refresh-anchor" href="/display/">Refresh</a>
            <a id="profile-anchor" href="/display/profile">profile</a>
            <a id="create-acct-anchor" href="/display/create">create account</a>
            <a id="login-anchor" href="/display/login">login</a>
            <a id="logout-anchor" href="/verify/logout">logout</a>

        </div>
    </header>

    <form id="user-search-form" class="search-container">
        <input type="text" id="user-search-input" placeholder="Search user..." required />
        <button type="submit" id="user-search-btn">Search for a profile</button>
    </form>
    <div class="main-content"></div>

    <script type="module" src="/assets/js/albumJs.js"></script>
</body>
</html>