<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="/styles/login.css"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header class="header">
        <h1>login</h1>

        <div class="anchors">
            <a id="home-anchor" href="/">home</a>
        </div>
    </header>
    <div class="signup-call">
        <span>Don't have an account?</span>
        <a href="/display/create" class="signup-link">Create one here!</a>
    </div>
    <!-- enter username and password as a form to /verify/login -->
    <form id="login-form" action="/verify/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
        
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />
        
        <button name="submit" type="submit">Login</button>
    </form>
    <script type="module" src="/assets/js/login.js"></script>
</body>
</html>